{% extends "master.html" %}

{% block title %}Startseite{% endblock %}

{% block links%}
{% for link in linknames.keys() %}
<a href="{{ url_for(link) }}">{{linknames[link]}}</a>
{% endfor %}
{% endblock %}

{% block code %}
<script>
    document.addEventListener('DOMContentLoaded', simple_counter);
</script>
{% endblock %}



{% block content%}
<div class="text-box">
    <h1>Willkommen auf dieser Häkelseite!</h1>
    <p>Das hier ist der erste Prototyp. Du kannst hier einfach Maschen zählen und gegebenenfalls die Reihe erhöhen und damit die Maschenanzahl zurück auf 0 setzen.</p>
</div>

<div class="box">
    <p id="maschennumber">0 Maschen gehäkelt</p> 
    <hr>
    <p id="reihennumber">0 Reihen gehäkelt</p>
    <button class="btn" id="reihenincrease" style="background-color: darkgrey;">+</button>
</div>
{% endblock %}