{% extends "master.html" %}

{% block title %}Zunahme{% endblock %}

{% block links%}
{% for link in linknames.keys() %}
<a href="{{ url_for(link) }}">{{linknames[link]}}</a>
{% endfor %}
{% endblock %}
{% block code %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('start-button').onclick = zunahmen_counter;
    })
</script>
<script src="{{ url_for('static', filename='zunahme.js') }}"></script>
    
{% endblock %}

{% block content%}
<div class="text-box">
    <h1>Zunahmen</h1>
    Hier kannst du Zunahmen zählen lassen. Gib zuerst an, wie viele Reihen lang du zunehmen möchtest:<br>
    <input class="text-field" id="reihen" placeholder="Reihen" type="number">
    Wie viele Maschen willst du pro Reihe zunehmen?<br>
    <input class="text-field" id="maschen" placeholder="Maschenzunahme" type="number">
    Wie viele Maschen hast du aktuell?<br>
    <input class="text-field" id="aktuelle" placeholder="Aktuelle Maschen" type="number"><br>
    <button class="btn" id="start-button">Start</button>
</div>


<div class="box">
    <p id="maschennumber">0 Masche(n) gehäkelt</p> 
    <hr>
    <p id="reihennumber">0 Reihe(n) gehäkelt</p>
    <p id="verdoppeln" style="display: none;">Jetzt die Masche verdoppeln!</p>
    <p id="beendet" style = "display: none;">Diese Reihen ist jetzt beendet!</p>
</div>

{% endblock %}